body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4a5d3f;
    color:#0b2306;
}

header {
    text-align:center;
    padding: 2rem 1rem;
    background-color:#4a5d3f;
    color: #0b2306;
}

.page-title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.timeline {
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    position: relative;
}

.timeline-event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.timeline-icon {
    width: 60px;
    height: 60px;
    background-color: #1f5016;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.timeline-icon img {
    width: 80%;
    height: auto;
    border-radius: 60px;
}

.timeline-content {
    background: #87ae81;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
    width: calc(100% - 80px);
}

.timeline-content h3 {
    margin: 0 0 0.5rem;
    color:#1f5016 ;
    font-size: 1.2rem;
}

.timeline-content p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .timeline-event {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .timeline-icon {
        margin: 0 0 1rem;
    }

    .timeline-content {
        width: 100%;
    }
}
